body{
  color:#ddd;
  background-color: #261a29;
}


/* Filter Buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #fff2b8;
  color: white;
  cursor: pointer;
}
  
.btn:hover {
  background-color: #ddd;
}
  
.btn.active {
  background-color: #4e8833;
}

.btn:not(.active){
  background-color: #8d0404;
}

#Clear{
  background-color: #3f8499
}